body {
    /*background-image: url('/src/img/fon_front.jpg');*/
    background-color:slategrey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    margin: 0;
    font-family: Arial, sans-serif;
  }
  